body {
    width: 90%;
    margin: 0;
    font-family: 'Helvetica', sans-serif;
    line-height: 1.6;
    color: #333;
    position: relative;
}

/* google font */
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/* root color */
:root {
    --blue: #088378 ;

    --black:#141618;
    --white:#fff;
    --primary-color: #e3f9f5;
    --main-color1:#f4f4f4;


}
/* custom css */
*{
    font-family: "M PLUS Rounded 1c", sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    /* text-transform: capitalize; */
    outline:none;
    box-sizing: border-box;
    transition:all linear .2s;
 
}
html{
    font-size:62.5% ;
    overflow-x: hidden;
    background-color:white;
}
/* button */
button{
    height: 3.5rem;
    width: 15rem;
    background-color: var(--blue);
    color: var(--white);
    text-transform: capitalize;
    font-size: 1.7rem;
    cursor: pointer;
    border-radius: .5rem;
    margin: 1rem .5rem;
    border: .1rem solid var(--blue);
}
button:hover{
    border: .1rem solid var(--blue);
    background-color: var(--white);
    color: var(--blue);
    letter-spacing: .1rem;
}
header .button{
    border: .1rem solid var(--blue);
    background-color: var(--white);
    color: var(--blue);
    letter-spacing: .2rem;
   margin-right: 4rem;
}
header .button:hover{

color: var(--black);

}



/* header nav section start */
header {
    width:100% ;
    height: 10rem;
    background-color: var(--blue);
    position: fixed;
    top:0rem;
    left:50%;
    transform: translate(-50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    z-index: 1000;
  
}
/* header nav section end */
/* logo name */


header .logo img{
    height: 17rem;
    margin-left: 4rem;
   
}



/* navbar link */
header .navbar ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}
header .navbar ul li{
    margin: 0 1rem;
}
header .navbar ul li a{
    color:var(--white);
    font-size: 1.8rem;
}
header .navbar ul li a:hover{
    color:var(--primary-color);
}
header .fa-bars {
    font-size: 3rem;
    color:var(--black);
    cursor: pointer;
    display: none;
}
    
header .active{
    transform: rotate(180deg);
     
 }
 .header-active{
    top:0;
    width: 100%;
    box-shadow: .1rem .3rem rgba(0,0,0,.3);
 }


/* navbar link end */

main {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    align-items: center;
    padding: 130px 20px;
}

main section {
    width: 100%;
    margin: 30px 0;
    background-color: var(--primary-color);
    border-radius: 10px;
}

main section h2 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
    color: var(--blue);
}

main div {
    width: 200px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    margin-bottom: 20px;
}

main div:hover {
    transform: scale(1.05);
}

main div img {
    width: 100px;
}

.icon {
    width: 50px;
    height: 50px;
}

section div {
    display: inline-block;
    margin-right: 20px;
}

@media (max-width: 768px) {
    main {
        padding: 130px 10px;
    }

    section {
        display: block;
        margin: 20px 0;
    }

    section div {
        width: 100%;
        margin: 10px 0;
    }
}

/* footer section start  */
.footer{
    background:var(--blue);

 }
 .footer .box-container{
 
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 90%;
    margin-left: 5%;
   }

  
   .footer .box{
    width: 100%;
    margin: 2rem;
    text-align: start;
   }
  
   .footer .box:nth-child(1){
    text-align: left;
   }
  
  /* logo  */
  
  .footer .box .logo{
    padding: 2rem 0;
    font-size: 3rem;
    color: var(--wight);
  }
  
  .footer .box .logo:hover{
    color: var(--white);
  }
  
  .footer .box .logo span{
    color: var(--main-color1);
    
  }
  
  .footer .box p{
    font-size: 2rem;
    color: var(--white);
  }
  
  .footer .box a{
    color: var(--wight);
    font-size: 2rem;
    display: block;
    padding: .2rem 0;
  }
  
  .footer .box a:hover{
    text-decoration: underline;
  }
  
  
  .footer .credit{
    width: 90%;
 
    font-size: 2rem;
    color: var(--wight);
    text-align: center;
    border-top: .2rem solid var(--wight);
  }
  
  .footer .credit span{
    color: var(--main-color1);
    text-decoration: underline;
    letter-spacing: .5rem;
  }
  
  
  
    /* footer section end  */