

@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/* root color */
:root {
    --blue: #088378 ;

    --black:#141618;
    --white:#fff;
    --primary-color: #e3f9f5;
    --main-color1:#f4f4f4;
    box-sizing: border-box;


}
/* custom css */
*{
    font-family: "M PLUS Rounded 1c", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

 
}
body{
display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background:linear-gradient(90deg , #088378  , #e3f9f5);
}
.container{
  position: relative;
 background-color: white;
 border-radius: 5rem;
width:60rem;
height: 40rem;


}

.form-box{
  position: absolute;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  text-align: center;
  padding: 2rem;


}
form{
  width: 100%;
}
.container h1{
  font-size: 2.5rem;

}
.input-box{
  position: relative;
  margin-top: .5rem;

}
.input-box input{
  width: 100%;
  padding: 1rem;
  background-color: white;
  border-radius: 1rem;
  border:none;
  outline: none;
  font-size: 1rem;
  height: 3rem;

}
.input-box input ::placeholder{
  color:#888;
  font-weight: 400;
}
.input-box i{
  position: absolute;
  right: 2rem;
  top: 50%;
  transform: translate(-50%);
  color:#888;

}
.forget-link a{
  text-decoration: none;
  color:#888;
  

}
.forget-link{
  margin :-2rem 0 2rem;
}
.btn{
  width: 100%;
  height: 3rem;
  background-color: var(--blue);
  border-radius: 1rem;
  box-shadow:  0 0 2rem rgba(0,0,0,0.2);
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  border:none;
  font-weight: 600;
}
.container p{
  font-size:.8rem;
  margin: .8rem 0;
  color:#888;
}

.sociol-icons a{
  display: inline-block;
  border: .1rem solid #fff;
  font-size: 1.5rem;
  border-radius: .5rem;
  text-decoration:none ;
  height: 3rem;
  width: 3rem;

}







/* navbar link end */
/* form section start */


/* form section start */


 
  


  